body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ECF0F1 ;
   
}

/* Light Theme */
.nav-container.light {
  background-color: #ECF0F1;
  color: #333333;
}

/* Dark Theme */
.nav-container.dark {
  background-color: #333333;
  color: #ffffff;
}