.search-container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px 30px;
  border-radius: 20px;
}

.search-container input {
  outline: none;
  border: none;
  background-color: #ecf0f1;
  font-size: 16px;
}

.search-container button {
  padding: 10px 10px;
  border: 1px solid #909aa4;
  color: #92989f;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
